<window title="Divide and Conquer" aa="16">
  <pos  x="15" y="15"/>
  <size w="800" h="600" fullscreen="0"/>
  <color r="1" g="1" b="1"/>
</window>
<output path="stdout.txt"/>
<guns>
  <gun name="pistol" w="4" h="4" s="650" da="20" de="-1" a="0.1f"/>
  <gun name="gatling" w="3" h="3" s="650" da="1" de="0.001f" a="0.5f"/>
  <gun name="sniper" w="8" h="8" s="850" da="65" de="-1" a="0.05f"/>
  <gun name="RPG" w="25" h="25" s="550" da="150" de="-1" a="0.15f"/>
</guns>
